@model MediaSwap.Web.ViewModels.SearchItemViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm()){
   
<div>
    @Html.Label("Enter Search") 
    @Html.TextBox("search")
    <input type="submit" value="Search" class="btn primary" />
    @Html.ActionLink("Add More Items", "Index", "Item", new { }, new {@class="btn" })
</div>
<table>
    <tr>
        <th>
          Name
        </th>
        <th>Format</th>
        <th></th>
    </tr>
    @if(@Model.ItemResults != null)
    {
        foreach (var item in Model.ItemResults)
        {
        <tr>
            <td>
                 @Html.Label(item.ItemName.ToString())
            </td>
            <td>
               @Html.Label(item.ItemType.Format.FormatTypeName)
            </td>
            <td>
            <a href="">Add to Queue</a>
            </td>
        </tr>
        }
    }
</table>
}