@model MediaSwap.Web.ViewModels.SearchItemViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm()){
   
<div>
    @Html.Label("Enter Search") 
    @Html.TextBox("search")
    <input type="submit" value="Search" class="btn primary" />
  
</div>
<table>
    <tr>
        <th>
          Name
        </th>
        <th>Format</th>
        <th></th>
    </tr>
    @if(@Model.ItemResults != null)
    {
        foreach (var item in Model.ItemResults)
        {
        <tr>
            <td>
                 @Html.Label(item.ItemName.ToString())
            </td>
            <td>
               @Html.Label(item.ItemType.Format.FormatTypeName)
            </td>
            <td>
                @Ajax.ActionLink("Add To Queue", "AddItem", "Queue", new { ItemId = item.ItemId }, new AjaxOptions() { OnComplete="AddItemComplete", OnFailure = "AddItemFailed", OnSuccess = "AddItemSuccess" }, new {@class="btn" })
            </td>
        </tr>
        }
    }
</table>
}

<script type="text/javascript">
    function AddItemComplete(xmlHttp) {
        if (xmlHttp.status == 401) {
            window.location = "/User/Login";
        }
    }

    function AddItemSuccess(result, textStatus, jqXHR) {

        if (result.Success && result.ReturnUrl) {
            location.href = result.ReturnUrl;
        } else {
            alert(result.Message);
        }
    }
    function AddItemFailed(result, textStatus, jqXHR)
     {

        
     }

     $(function () {

         $.ajax({
             statusCode: {
                 404: function () {
                     alert('page not found');
                 }
                 ,
                 401: function () {
                     alert('not authorized');
                 }
             }
         });

     }
     );
</script>