<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css" rel="stylesheet"
        type="text/css" />
    <style type="text/css">
        html, body
        {
            background: #eee;
        }
        body
        {
            margin-top: 40px;
        }
        input[type="text"], input[type="number"], select
        {
            margin-bottom: 10px;
        }
        .content
        {
            background-color: #fff;
            padding: 20px;
            margin: 0 -20px;
            min-height: 500px;
            -webkit-border-radius: 0 0 5px 5px;
            -moz-border-radius: 0 0 5px 5px;
            border-radius: 0 0 5px 5px;
            -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
            -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
            box-shadow: 0 1px 2px rgba(0,0,0,.15);
        }
        .container > footer
        {
            color: #777;
            margin: 0;
            border-top: 0px;
            padding-bottom: 10px;
        }
        /* Styles for validation helpers
-----------------------------------------------------------*/
        .field-validation-error
        {
            color: #ff0000;
        }
        
        .field-validation-valid
        {
            display: none;
        }
        
        .input-validation-error
        {
            border: 1px solid #ff0000;
            background-color: #ffeeee;
        }
        
        .validation-summary-errors
        {
            font-weight: bold;
            color: #ff0000;
        }
        
        .validation-summary-valid
        {
            display: none;
        }
    </style>
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.min.js" type="text/javascript"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"
        type="text/javascript"></script>
           <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
  

</head>
<body>
    <div class="topbar">
        <div class="topbar-inner">
            <div class="container">
                @Html.ActionLink("Media Swap", "Index", "Item", null, new { @class = "brand" })
                <ul class="nav">
                    <li><a href="@Url.Action("Index","User",new {id=1})">Profile</a></li>
                    <li><a href="@Url.Action("UserItems","User",new {id=1})">My Stuff</a></li>
                    <li><a href="@Url.Action("Index","Search")">Add to Queue</a></li>
                </ul>
                <ul class="nav secondary-nav">
                    <li><strong>@(HttpContext.Current.User.Identity.IsAuthenticated ? Html.ActionLink("Logout", "SignOut", "User") : Html.ActionLink("Login", "Login", "User"))</strong></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="content">        
            @RenderBody()
        </div>
        <footer>
      <p>
        Made in a Hackathon.
      </p>
    </footer>
    </div>
    @RenderSection("javascript", required: false)
</body>
</html>
