
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/bootstrap/css/bootstrap.min.css")"  rel="stylesheet"
        type="text/css" />
    
    <style type="text/css">
        html, body
        {
            background: #eee;
            margin-top: 20px;
        }
        body
        {
            
        }
        input[type="text"], input[type="number"], select
        {
           
        }
        .content
        {
            background-color: #fff;
            padding: 20px;
            margin: 0 -20px;
            min-height: 500px;
            -webkit-border-radius: 0 0 5px 5px;
            -moz-border-radius: 0 0 5px 5px;
            border-radius: 0 0 5px 5px;
            -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
            -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
            box-shadow: 0 1px 2px rgba(0,0,0,.15);
        }
      
        
        .container > footer
        {
            color: #777;
            margin: 0;
            border-top: 0px;
            padding-bottom: 10px;
        }
        /* Styles for validation helpers
-----------------------------------------------------------*/
        .field-validation-error
        {
            color: #ff0000;
        }
        
        .field-validation-valid
        {
            display: none;
        }
        
        .input-validation-error
        {
            border: 1px solid #ff0000;
            background-color: #ffeeee;
        }
        
        .validation-summary-errors
        {
            font-weight: bold;
            color: #ff0000;
        }
        
        .validation-summary-valid
        {
            display: none;
        }
        footer {
            margin-top: 17px;
            padding-top: 17px;
            border-top: 1px solid #EEE;
        }
    </style>
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.min.js" type="text/javascript"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"
        type="text/javascript"></script>
         <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
</head>
<body>
    <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="/">Media Swap</a>
        <ul class="nav">
         
                   
                    <li><a href="@Url.Action("Index", "Item")">My Media</a> </li>
                    <li><a href="@Url.Action("Index","Queue")">My Queue</a></li>
                    <li><a href="@Url.Action("Index", "Search")">Search Media</a></li>
        </ul>
        <ul class="nav pull-right">
                  @if (!HttpContext.Current.User.Identity.IsAuthenticated)
                  {
                  <li>@Html.ActionLink("Login", "Login", "Profile")</li>
                  }
                  else
                  {
                     <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" style="background-image:url(@GravatarHelper.GravatarImageString(MediaSwap.Web.Models.MediaSwapIdentity.Current.EmailAddress,40,"")); background-repeat:no-repeat"> <span style="display:inline-block; margin-left:40px">   @MediaSwap.Web.Models.MediaSwapIdentity.Current.FriendlyName</span><span class="caret"></span></a>  <ul class="dropdown-menu">
      <li>@Html.ActionLink("View Profile","Index","Profile")</li>
    
      <li class="divider"></li>
      <li>@Html.ActionLink("Logout","Logout","Profile")</li>
    </ul></li>
                  }
                 
                </ul>
                </div>
    </div><!-- /navbar-inner -->
  </div><!-- /navbar -->

    <div class="container">
        <div class="content">
          @MvcMiniProfiler.MiniProfiler.RenderIncludes()
            @RenderBody()
        </div>
        <footer>
      <p>
        Made in a Hackathon.
      </p>
    </footer>
    </div>
    @RenderSection("javascript", required: false)
    <script type="text/javascript">
        /* ============================================================
        * bootstrap-dropdown.js v2.0.0
        * http://twitter.github.com/bootstrap/javascript.html#dropdown
        * ============================================================
        * Copyright 2011 Twitter, Inc.
        *
        * Licensed under the Apache License, Version 2.0 (the "License");
        * you may not use this file except in compliance with the License.
        * You may obtain a copy of the License at
        *
        * http://www.apache.org/licenses/LICENSE-2.0
        *
        * Unless required by applicable law or agreed to in writing, software
        * distributed under the License is distributed on an "AS IS" BASIS,
        * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
        * See the License for the specific language governing permissions and
        * limitations under the License.
        * ============================================================ */


        !function ($) {

            "use strict"

            /* DROPDOWN CLASS DEFINITION
            * ========================= */

            var toggle = '[data-toggle="dropdown"]'
    , Dropdown = function (element) {
        $(element).bind('click', this.toggle)
    }

            Dropdown.prototype = {

                constructor: Dropdown

  , toggle: function (e) {
      var $this = $(this)
        , selector = $this.attr('data-target') || $this.attr('href')
        , $parent = $(selector)

      $parent.length || ($parent = $this.parent())

      clearMenus()

      !$parent.hasClass('open') && $parent.toggleClass('open')

      return false
  }

            }

            function clearMenus() {
                $(toggle).parent().removeClass('open')
            }


            /* DROPDOWN PLUGIN DEFINITION
            * ========================== */

            $.fn.dropdown = function (option) {
                return this.each(function () {
                    var $this = $(this)
        , data = $this.data('dropdown')
                    if (!data) $this.data('dropdown', (data = new Dropdown(this)))
                    if (typeof option == 'string') data[option].call($this)
                })
            }

            $.fn.dropdown.Constructor = Dropdown


            /* APPLY TO STANDARD DROPDOWN ELEMENTS
            * =================================== */

            $(function () {
                $(window).on('click.dropdown.data-api', clearMenus)
                $('body').on('click.dropdown.data-api', toggle, Dropdown.prototype.toggle)
            })

        } (window.jQuery)
     
    </script>
</body>
</html>
