@model MediaSwap.Core.Models.Item
@{
    ViewBag.Title = "Delete Item";
}
<h2>
    Delete Item</h2>
<h3>
    Are you sure you want to delete this?</h3>
@using (Html.BeginForm("DeleteItem", "Item", FormMethod.Post, new { @class = "form-stacked" }))
{    
    <div>
        <div class="display-label">
            ItemName</div>
        <div class="display-field">
            @Html.DisplayFor(model => model.ItemName)
        </div>
        <div class="display-label">
            AmazonId</div>
        <div class="display-field">
            @Html.DisplayFor(model => model.AmazonId)
        </div>
        <div class="display-label">
            MediaId</div>
        <div class="display-field">
            @Html.DisplayFor(model => model.MediaId)
        </div>
        @Html.HiddenFor(model => model.ItemId)
    </div>
    <div class="actions">
        <input type="submit" class="btn primary" value="Delete" />
    </div>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
